<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_member.html">
       		<section id="terms" layout:fragment="content">
                <div class="sub-type member">
                    <div class="inner-box">
                        <div class="page-title-wrap v2">
                            <h2 class="page-title">회원약관</h2>
                            <div class="depth-area">
                                <ol>
                                    <li>
                                        <a th:href="@{/index}">홈</a>
                                    </li>
                                    <li>
                                        <strong>회원약관</strong>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <article class="terms">
                            <table>
                                <caption>사이트 이용약관</caption>
                                <tr>
                                    <td>
                                        <textarea readonly>[[${termsVo.terms}]]</textarea>
                                        <p>
                                            <label><input type="checkbox" name="chk1"/>동의합니다.</label>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <table>
                                <caption>개인정보 취급방침</caption>
                                <tr>
                                    <td>
                                        <textarea readonly>[[${termsVo.privacy}]]</textarea>
                                        <p>
                                            <label><input type="checkbox" name="chk2"/>동의합니다.</label>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <div>
                                <a th:href="@{/member/login}">취소</a>
                                <a th:href="@{/member/register}">다음</a>
                            </div>
                        </article>
                    </div>
                </div>
        </div>
    </div>
    
</body>
</html>