<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_brand.html">
  		<section id="brand" layout:fragment="content">
            <section class="main">
                <div class="main_body">
                    <div class="main_right">
                        <article class="main_text">
                            <h2>
                                <span>브랜드 이야기</span>
                            </h2>
                            <p>설렘으로 시작된 첫만남부터 기억 속을 걷는 이 순간까지 그대만을 생각합니다.</p>
                            <p>
                                아름답고도 낯설게 느껴지는 신비롭고도 익숙하게 다가오는<br>
                                그때 그 대만을 추억 속에 담아 그대에게 전합니다.
                            </p>
                            <h5>오직, 하나뿐인 그대만을 위해 오직,그대만</h5>
                            <p>
                                오직 그대만을 위한, 오직 그 대만의 수제디저트를, 대만을 사랑하고,
                                대만의 맛과 멋을 아는 여행자가 대만 그리고 여행의 경험을
                                당신에게 공유하고 싶어서 열게 된 가게입니다.
                            </p>
                            <p>
                                바른차이즈, 옳은차이즈를 슬로건으로 본사와 가맹점의 동반상생을 위해
                                끊임없이 원가를 낮추고 신메뉴를 찾고 공급하는 오직 그대만
                                생각하는 오직그대만과 함께 하시겠습니까?
                            </p>
                        </article>
                    </div>
                    <div class="main_left">
                        <ul class="bxslider">
                            <li><img src="../img/slider1.jfif"></li>
                            <li><img src="../img/slider2.jpg"></li>
                            <li><img src="../img/slider3.jfif"></li>
                            <li><img src="../img/slider4.jpg"></li>
                            <li><img src="../img/slider5.jpg"></li>
                        </ul>`
                    </div>
                </div>    
            </section>
    </div>
</body>
</html>
