<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_brand.html">
	  <section id="interioir" layout:fragment="content">
            <section class="main">
                <div class="main_body">
                    <div class="main_right1">
                        <article class="main_text">
                            <h2>
                                <span>Exterior</span>
                            </h2>
                            <p>BI에서 추출한 모티브들과 대표 컬러들을 바탕으로</p>
                            <p>겉은 모던하지만, 속은 따뜻함이 넘치는 공간을 연출하였습니다.</p>
                            <p>메뉴에 대한 부분을 인포그래픽으로 표현하여</p>
                            <p>가게의 멋을 자연스럽게 외부에 녹였습니다.</p>
                        </article>
                    </div>
                    <div class="main_left1"><img src="../img/italy_store.jpg" alt=""></div>
                    <div class="main_left2">
                        <article class="main_text">
                            <h2>
                                <span class="bg_color">Exterior</span>
                            </h2>
                            <p>표준화된 브랜드 메뉴얼을 준수하여</p>
                            <p>간판, 외벽, 사인물 등 모든 요소들을 포토존화 하였고,</p>
                            <p>일관된 조명으로 통일성이 있게 하였습니다.</p>
                            <p>주요 타깃인 여성분들이 SNS에 찍어 올릴 수 있는</p>
                            <p>감성적인 공간이 탄생하였고, 자연스러운 입소문이 날 수 있었습니다.</p>
                        </article>
                    </div>
                    <div class="main_right2"><img src="../img/pizza-inner.jpg" alt=""></div>
                    <div class="main_right3">
                        <article class="main_text">
                            <h2>
                                <span>Interior</span>
                            </h2>
                            <p>세련된 모습과 달달함이 묻어나는 공간으로 연출하였습니다.</p>
                            <p>원목과 따뜻한 느낌의 조명을 사용하여 맛있는 음식과 디저트가</p>
                            <p>더욱 달달하게 느껴질 수 있도록 하였고,</p>
                            <p>타일과 가구는 유럽풍 스타일을 선택하여</p>
                            <p>가게의 느낌을 세련되게 표현하기 위해 노력하였습니다.</p>
                        </article>
                    </div>
                    <div class="main_left3"><img src="../img/pizza-out.jfif"></div>
                    <div class="main_left4">
                        <article class="main_text">
                            <h2>
                                <span class="bg_color">Interior</span>
                            </h2>
                            <p>표준화된 브랜드 메뉴얼을 준수하여 머무르시는 손님들을 위한</p>
                            <p>피자 드 시우의 대표 포토존을 만들었습니다.</p>
                            <p>여성분들이 좋아하실 테이블, 의자와 감성적인 타이포그래피의 조화는</p>
                            <p>타일과 가구는 유럽풍 스타일을 선택하여</p>
                            <p>피자 드 시우 내부 인테리어의 꽃이라고 할 수 있습니다.</p>
                        </article>
                    </div>
                    <div class="main_right4"><img src="../img/pizza-out2.jfif"></div>
                </div>
            </section>
    </div>
</body>
</html>