<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_menu.html">
		<section layout:fragment="content">
            <section class="main">
                <div class="main_body">
                    <div class="main_top">
                        <article class="main_body_title">
                            <h2>
                                <span>피자이야기</span>
                            </h2>
                        </article>
                    </div>
                    <div class="main_content">
                        <div class="main_image">
                            <div class="text_image">
                                <h2>
                                    피자로 부터 배우고, 피자로 전하다. <br>
                                    누가봐도 진짜, 피자
                                </h2>
                                <p>이탈리아 프리미어 치즈 브랜드에서 공수한 재료와</p>
                                <p>전통 레시피로 만든 피자를 판매합니다.</p>
                                <p>이탈리아산 치즈의 담백함과 국산 밀가루의 쫀득함.</p>
                                <p>최고의 재료로, 최고의 맛을 오직 그대만을 위해 선사합니다.</p>
                            </div>
                            <div class="image_cover"></div>
                        </div>
                    </div>
                    <div class="menu_image">
                        <div class="main_top">
                            <article class="main_body_title">
                                <h2>
                                    <span>오리지널피자</span>
                                </h2>
                            </article>
                        </div>
                        <div class="prd_og">
                            <article>
                                <ul>
                                    <li>
                                        <div class="prd_imgage">
                                            <img src="../img/KakaoTalk_20200824_103137616_01.jpg">
                                        </div>
                                        <div class="prd_content">
                                            <div class="subject">
                                                오리지널피자
                                                <div class="label_box">
                                                    <span>HOT</span>
                                                </div>
                                            </div>    
                                        </div>
                                        <div class="prd_price">
                                            <div class="price_box">
                                                <span class="price">
                                                    <span class="size_l">L</span>
                                                        34,900~&nbsp;
                                                </span>
                                                <span class="price">
                                                    <span class="size_l">M</span>
                                                        29,000~&nbsp;
                                                </span>
                                            </div>
                                        </div>
                                        <div class="hashtag">
                                            <span># 남녀노소 모두가 즐기는 기본중의 기본</span>
                                        </div>
                                    </li>                               
                                </ul>
                            </article>
                            <article>
                                <ul>
                                    <li>
                                        <div class="prd_imgage">
                                            <img src="../img/KakaoTalk_20200824_103137616_01.jpg">
                                        </div>
                                        <div class="prd_content">
                                            <div class="subject">
                                                오리지널피자
                                                <div class="label_box">
                                                    <span>HOT</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="prd_price">
                                            <div class="price_box">
                                                <span class="price">
                                                    <span class="size_l">L</span>
                                                        34,900~&nbsp;
                                                </span>
                                                <span class="price">
                                                    <span class="size_l">M</span>
                                                        29,000~&nbsp;
                                                </span>
                                            </div>
                                        </div>
                                        <div class="hashtag">
                                            <span># 남녀노소 모두가 즐기는 기본중의 기본</span>
                                        </div>
                                    </li>                               
                                </ul>
                            </article>
                            <article>
                                <ul>
                                    <li>
                                        <div class="prd_imgage">
                                            <img src="../img/KakaoTalk_20200824_103137616_01.jpg">
                                        </div>
                                        <div class="prd_content">
                                            <div class="subject">
                                                오리지널피자
                                            
                                                <div class="label_box">
                                                    <span>HOT</span>
                                                </div>
                                            </div>    
                                        </div>
                                        <div class="prd_price">
                                            <div class="price_box">
                                                <span class="price">
                                                    <span class="size_l">L</span>
                                                        34,900~&nbsp;
                                                </span>
                                                <span class="price">
                                                    <span class="size_l">M</span>
                                                        29,000~&nbsp;
                                                </span>
                                            </div>
                                        </div>
                                        <div class="hashtag">
                                            <span># 남녀노소 모두가 즐기는 기본중의 기본</span>
                                        </div>
                                    </li>                               
                                </ul>
                            </article>
                            <article>
                                <ul>
                                    <li>
                                        <div class="prd_imgage">
                                            <img src="../img/KakaoTalk_20200824_103137616_01.jpg">
                                        </div>
                                        <div class="prd_content">
                                            <div class="subject">
                                                오리지널피자
                                                <div class="label_box">
                                                    <span>HOT</span>
                                                </div>
                                            </div>    
                                        </div>
                                        <div class="prd_price">
                                            <div class="price_box">
                                                <span class="price">
                                                    <span class="size_l">L</span>
                                                        34,900~&nbsp;
                                                </span>
                                                <span class="price">
                                                    <span class="size_l">M</span>
                                                        29,000~&nbsp;
                                                </span>
                                            </div>
                                        </div>
                                        <div class="hashtag">
                                            <span># 남녀노소 모두가 즐기는 기본중의 기본</span>
                                        </div>
                                    </li>                               
                                </ul>
                            </article>
                            <article>
                                <ul>
                                    <li>
                                        <div class="prd_imgage">
                                            <img src="../img/KakaoTalk_20200824_103137616_01.jpg">
                                        </div>
                                        <div class="prd_content">
                                            <div class="subject">
                                                오리지널피자
                                            
                                                <div class="label_box">
                                                    <span>HOT</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="prd_price">
                                            <div class="price_box">
                                                <span class="price">
                                                    <span class="size_l">L</span>
                                                        34,900~&nbsp;
                                                </span>
                                                <span class="price">
                                                    <span class="size_l">M</span>
                                                        29,000~&nbsp;
                                                </span>
                                            </div>
                                        </div>
                                        <div class="hashtag">
                                            <span># 남녀노소 모두가 즐기는 기본중의 기본</span>
                                        </div>
                                    </li>                               
                                </ul>
                            </article>
                            <article>
                                <ul>
                                    <li>
                                        <div class="prd_imgage">
                                            <img src="../img/KakaoTalk_20200824_103137616_01.jpg">
                                        </div>
                                        <div class="prd_content">
                                            <div class="subject">
                                                오리지널피자
                                            
                                                <div class="label_box">
                                                    <span>HOT</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="prd_price">
                                            <div class="price_box">
                                                <span class="price">
                                                    <span class="size_l">L</span>
                                                        34,900~&nbsp;
                                                </span>
                                                <span class="price">
                                                    <span class="size_l">M</span>
                                                        29,000~&nbsp;
                                                </span>
                                            </div>
                                        </div>
                                        <div class="hashtag">
                                            <span># 남녀노소 모두가 즐기는 기본중의 기본</span>
                                        </div>
                                    </li>                               
                                </ul>
                            </article>
                            <article>
                                <ul>
                                    <li>
                                        <div class="prd_imgage">
                                            <img src="../img/KakaoTalk_20200824_103137616_01.jpg">
                                        </div>
                                        <div class="prd_content">
                                            <div class="subject">
                                                오리지널피자
                                            
                                                <div class="label_box">
                                                    <span>HOT</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="prd_price">
                                            <div class="price_box">
                                                <span class="price">
                                                    <span class="size_l">L</span>
                                                        34,900~&nbsp;
                                                </span>
                                                <span class="price">
                                                    <span class="size_l">M</span>
                                                        29,000~&nbsp;
                                                </span>
                                            </div>
                                        </div>
                                        <div class="hashtag">
                                            <span># 남녀노소 모두가 즐기는 기본중의 기본</span>
                                        </div>
                                    </li>                               
                                </ul>
                            </article>
                            <article>
                                <ul>
                                    <li>
                                        <div class="prd_imgage">
                                            <img src="../img/KakaoTalk_20200824_103137616_01.jpg">
                                        </div>
                                        <div class="prd_content">
                                            <div class="subject">
                                                오리지널피자
                                            
                                                <div class="label_box">
                                                    <span>HOT</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="prd_price">
                                            <div class="price_box">
                                                <span class="price">
                                                    <span class="size_l">L</span>
                                                        34,900~&nbsp;
                                                </span>
                                                <span class="price">
                                                    <span class="size_l">M</span>
                                                        29,000~&nbsp;
                                                </span>
                                            </div>
                                        </div>
                                        <div class="hashtag">
                                            <span># 남녀노소 모두가 즐기는 기본중의 기본</span>
                                        </div>
                                    </li>                               
                                </ul>
                            </article>
                        </div>
                    </div>
                </div>    
            </section>

    </div>
</body>
</html>