<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_board.html">
       <section layout:fragment="content">
        <div id="list">
            <section id="content">
                <div class="sub-type member">
                    <div class="inner-box">
                        <div class="page-title-wrap v2">
                            <h2 class="page-title">게시판</h2>
                            <div class="depth-area">
                                <ol>
                                    <li>
                                        <a th:href="@{/index}">홈</a>
                                    </li>
                                    <li>
                                        <strong>게시판</strong>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <article class="list">
                            <h3>글목록</h3>
                            <article>
                                <p>
                                    [[${session.member.nick}]]님 반갑습니다.
                                    <a th:href="@{/member/logout}" class="logout">[로그아웃]</a>
                                </p>
                                <table border="0">
                                    <tr>
                                        <th>번호</th>
                                        <th>제목</th>
                                        <th>글쓴이</th>
                                        <th>날짜</th>
                                        <th>조회</th>
                                    </tr>
                                    <tr th:each="article:${articles}">
                                        <td>[[${article.seq}]]</td>
                                        <td><a th:href="@{/board/view(seq=${article.seq})}">[[${article.title}]]</a>&nbsp;[ [[${article.comment}]] ]</td>
                                        <td>[[${article.nick}]]</td>
                                        <td>[[${#strings.substring(article.rdate, 2, 10)}]]</td>
                                        <td>[[${article.hit}]]</td>
                                    </tr>
                                </table>
                            </article>
                            <!-- 페이지 네비게이션 -->
                            <div class="paging">
                                <a href="#" class="prev">이전</a>
                                   <span class="num">
							            <a th:href="@{/board/list(pg=${num})}"
										   th:each="num:${#numbers.sequence(1, pageEnd)}"                
							               th:class="${#strings.equals(num, currentPg) ? 'on' : ''}">[[${num}]]</a>
							        </span>
                                <a href="#" class="next">다음</a>
                            </div>
                            <!-- 글쓰기 버튼 -->
                            <a th:href="@{/board/write}" class="btnWrite">글쓰기</a>
                        </article>
                    </div>
                </div>
            </section>
		</div>
</html>