<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_board.html">
         <section layout:fragment="content">
        <div id="view">
            <section id="content">
                <div class="sub-type member">
                    <div class="inner-box">
                        <div class="page-title-wrap v2">
                            <h2 class="page-title">글보기</h2>
                            <div class="depth-area">
                                <ol>
                                    <li>
                                        <a th:href="@{/index}">홈</a>
                                    </li>
                                    <li>
                                        <strong>게시판</strong>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <article class="view">
                            <table>
                                <tr>
                                    <td>제목</td>
                                    <td><input type="text" name="title" th:value="${article.title}" readonly /></td>
                                </tr>
                                <tr>
                                    <td>내용</td>
                                    <td><textarea name="content" readonly>[[${article.content}]]</textarea></td>
                                </tr>
                            </table>
                            <div>
                                <a th:href="@{/board/delete(seq=${article.seq})}" class="btnDelete">삭제</a>
                                <a th:href="@{/board/modify(seq=${article.seq})}" class="btnModify">수정</a>
                                <a th:href="@{/board/list}" class="btnList">목록</a>
                            </div>
                            <!-- 댓글 리스트 -->
                            <section class="commentList">
                                <h3>댓글목록</h3>
                                <article th:each="ment:${ments}" class="comment">
                                    <span>
                                        <span>[[${ment.nick}]]</span>
                                        <span>[[${#strings.substring(ment.rdate, 2, 10)}]]</span>
                                    </span>
                                        <textarea name="content" readonly>[[${ment.content}]]</textarea>
                                        <div>
                                            <a th:href="@{/board/deleteComment}">삭제</a>
                                            <a th:href="@{/board/modifyComment}">수정</a>
                                        </div>                        
                                </article>
                            </section>
                            <!-- 댓글 입력폼 -->
                            <section class="commentForm">
                                <h3>댓글쓰기</h3>
                                <form th:action="@{'/board/comment/'+ ${article.seq}}" method="post">
                                <input type="hidden" name="uid" th:value="${session.member.uid}" />
                                <input type="hidden" name="nick" th:value="${session.member.nick}" />
                                    <textarea name="content"></textarea>
                                    <div>
                                        <a th:href="@{/board/list}" class="btnCancel">취소</a>
                                        <input type="submit" value="작성완료" class="btnWrite">
                                    </div>
                                </form>
                            </section>
                        </article>
                    </div>
                </div>
            </section>
         </div> 
</html>