<html xmlns:th="http://www.thymeleaf.org">
            <footer id="footer" th:fragment="_footer">
                <div class="footer-area">
                    <div class="inner-box">
                        <div class="footer-order">
                            <i></i>
                            <span class="tel">1234-1234</span>
                        </div>
                    
                        <ul class="footer-contact">
                            <li>
                                <a href="#">이용약관</a>
                            </li>
                            <li>
                                <a href="#">개인정보처리방침</a>
                            </li>
                            <li>
                                <a href="#">고객센터</a>
                            </li>
                            <li>
                                <a href="#">인재채용</a>
                            </li>
                            <li>
                                <a href="#">가맹점모집</a>
                            </li>
                            <li>
                                <a href="#">단체주문</a>
                            </li>
                        </ul>
                        <div class="footer-info">
                            <p>부산광역시 부산진구 서면 어딘가 어긴다 | 대표이사 : 김갑돌</p>
                            <p>사업자 등록번호 : 123-45-67890 | 통신판매업신고 : 부산 1234호 | 개인정보보호책임자 : 홍길동</p>
                            <p>문의 : abcd@abcd.com</p>
                            <p>Copyright ⓒ Domino’s Pizza. All rights reserved. </p>
                        </div>
                        <div class="footer-cont">
                            <div class="sns-box">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i></i>
                                            블로그
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i></i>
                                            인스타그램
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i></i>
                                            페이스북
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i></i>
                                            유튜브
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i></i>
                                            트위터
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    
</body>
</html>